button{
border-style: none;
border-width: 1px;
border-color: black;
background-color: black;
color: white;
}
button:hover{

}
.btn-op{
background-color:grey;
height:23px;
}
#target{
position: relative;
width: 99%;
height: 30%;
background-color: #eeeeee;
text-align: right;
font-size: xx-large;
font-family: lucida console;
margin-bottom: 4px;
margin-left: 1px;
}
#calco{
width: 308px;
background-color: #1e2020;
height: 400px;
}
#conteneur-1{
float: left;
width: 81%;
}
#conteneur-2{
float: left;
width: 18%;

}
#conteneur-1 button{
float: left;
width: 33%;
height: 17%;

}
#conteneur-2 button{
width: 98%;
height: 13%;
margin: 1px;
}
